<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Walsh.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Walsh.Shared.Properties.Settings>
            <setting name="Walsh_Shared_WalshSoap_WalshSoap" serializeAs="String">
                <value>http://localhost:9750/SVC/WalshSoap.asmx</value>
            </setting>
        </Walsh.Shared.Properties.Settings>
    </applicationSettings>
</configuration>